schema/ab-system/xsd/afm-config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
	<!--author: Yong Shao -->
	<!--Date: 10/24/2003 -->
	<!--comment: afm-config.xsd is used to validate afm-config.xml -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- root element -->
	<xs:element name="afm-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="preferences" minOccurs="1" maxOccurs="1" />
				<xs:element ref="databases" minOccurs="1" maxOccurs="1" />
				<xs:element ref="classLoaders" minOccurs="1" maxOccurs="1" />
				<xs:element ref="fileCategories" minOccurs="1" maxOccurs="1" />
				<xs:element ref="restrictions" minOccurs="1" maxOccurs="1" />
				<xs:element ref="locales" minOccurs="0" maxOccurs="1" />
				<xs:element ref="languages" minOccurs="0" maxOccurs="1" />
				<xs:element ref="SSO" minOccurs="0" maxOccurs="1" />
				<xs:element ref="LDAP" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- end of root element -->
	<xs:element name="preferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="retrievedRecords" minOccurs="0"
					maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="inheritParentContext" type="xs:boolean"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="recordLimits" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="recordLimit" minOccurs="1"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="output" type="xs:string" use="required" />
									<xs:attribute name="ruleType" type="WFRulesType"
										use="required" />
									<xs:attribute name="perTgrp" type="xs:integer"
										use="required" />
									<xs:attribute name="perView" type="xs:integer"
										use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="requiredComponents" type="requiredComponentsType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="pdfButton" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="required" />
						<xs:attribute name="style" type="pdfPrintStyle" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="export" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pdf" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xsl" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:attribute name="file" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="fopConfig" minOccurs="1"
											maxOccurs="1">
											<xs:complexType>
												<xs:attribute name="folder" type="xs:string"
													use="required" />
												<xs:attribute name="file" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="excel" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="button" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:attribute name="show" type="xs:boolean"
													use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="xsl" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:attribute name="file" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="mdx" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="button" minOccurs="1"
														maxOccurs="1">
														<xs:complexType>
															<xs:attribute name="show" type="xs:boolean"
																use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="xsl" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:attribute name="file" type="xs:string"
																use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="selectValue" type="selectValueType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="xmlSchemas" type="xmlSchemasType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="inherit" type="xs:string" />
				<xs:element name="debug" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="requestCounterGlobal" type="xs:boolean"
							use="required" />
						<xs:attribute name="memoryUsageInterval" type="xs:positiveInteger"
							use="required" />
						<xs:attribute name="loadTestMode" type="xs:boolean"
							use="required" />
						<xs:attribute name="translatablePrefix" type="xs:boolean"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="viewTitleBar" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="required" />
						<xs:attribute name="file" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>

				<xs:element name="formatting" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xsl" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="file" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="css" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="file" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="dateFormat" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="format" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="timeFormat" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="format" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="dateTimeFormat" minOccurs="1"
								maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="format" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="cacheManager" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="cleanInterval" type="xs:positiveInteger"
							use="required" />
						<xs:attribute name="minPercentageFreeMemory" type="xs:positiveInteger"
							use="required" />
						<xs:attribute name="cachingOn" type="xs:boolean" use="optional" />
						<xs:attribute name="maxObjects" type="xs:positiveInteger"
							use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element ref="documentManagement" />
				<xs:element ref="locale" minOccurs="0" maxOccurs="1" />
				<xs:element name="core" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="userId" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="applicationTitle" type="xs:string"
				use="required" />
			<xs:attribute name="locale" type="localeNameType" use="optional" />
			<xs:attribute name="selfAdministration" type="xs:boolean"
				use="required" />
			<xs:attribute name="relativeSchemaPath" type="xs:string"
				use="required" />
			<xs:attribute name="schemaDirectory" type="xs:string"
				use="required" />
			<xs:attribute name="webAppDirectory" type="xs:string"
				use="required" />
			<xs:attribute name="relativeAppPath" type="xs:string"
				use="required" />
			<xs:attribute name="absoluteAppPath" type="xs:string"
				use="required" />
			<xs:attribute name="errorMessageView" type="xs:string"
				use="required" />
			<xs:attribute name="loginView" type="xs:string" use="required" />
			<xs:attribute name="logoutView" type="xs:string" use="required" />
			<xs:attribute name="mainView" type="xs:string" use="required" />
			<xs:attribute name="timeoutView" type="xs:string" use="required" />
			<xs:attribute name="showMessageAsPopup" type="xs:string"
				use="required" />
			<xs:attribute name="showMessageAsView" type="xs:string"
				use="required" />
			<xs:attribute name="showParentsWithoutChildren" type="xs:boolean"
				use="required" />
			<xs:attribute name="guestUserID" type="xs:string" use="required" />
			<xs:attribute name="userGroupAllowedEditCanonicViews"
				type="xs:string" use="required" />
			<xs:attribute name="userGroupAllowedEditViewAnalysis"
				type="xs:string" use="required" />
			<xs:attribute name="helpLink" type="xs:string" use="required" />
			<xs:attribute name="alterwindowhelpLink" type="xs:string"
				use="optional" />
			<xs:attribute name="use_hier_security" type="xs:boolean"
				use="optional" />
			<xs:attribute name="abSchemaSystemFolder" type="xs:string"
				use="required" />
			<xs:attribute name="abSchemaSystemGraphicsFolder" type="xs:string"
				use="required" />
			<xs:attribute name="abSchemaSystemHelpFolder" type="xs:string"
				use="required" />
			<xs:attribute name="abSchemaSystemMgmtHelpFolder" type="xs:string"
				use="required" />
			<xs:attribute name="abSchemaSystemJavascriptFolder"
				type="xs:string" use="required" />
			<xs:attribute name="abSchemaSystemCSSFolder" type="xs:string"
				use="required" />
			<xs:attribute name="abSchemaSystemXSDURIPath" type="xs:string"
				use="required" />
			<xs:attribute name="relativeActivityPath" type="xs:string"
				use="optional" />
			<xs:attribute name="relativeFileDirectory" type="xs:string"
				use="optional" />
			<xs:attribute name="absoluteFileDirectory" type="xs:string"
				use="optional" />
			<xs:attribute name="stackTraceAllowed" type="xs:boolean"
				use="optional" />
			<xs:attribute name="dynamicDrawingHighlights" type="xs:boolean"
				use="required" />
			<xs:attribute name="dwfViewer7" type="xs:boolean" use="required" />
			<xs:attribute name="dwfDefaultHighlightColor" type="xs:string"
				use="required" />
			<xs:attribute name="runScheduledRules" type="xs:string"
				use="optional" />
			<xs:attribute name="loadLangFiles" type="xs:string" use="optional" />
			<xs:attribute name="reportJobViewName" type="xs:string"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="documentManagement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fileTypes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="fileType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="operations" />
			</xs:sequence>
			<xs:attribute name="extension" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="operations">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="operation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="operation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" />
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:attribute name="contentType" use="required" />
			<xs:attribute name="contentDisposition" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="selectValueType">
		<xs:sequence>
			<xs:element name="option" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="field" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
						<xs:element name="xsl" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:attribute name="file" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="key" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="showIndex" type="xs:boolean" use="optional" />
	</xs:complexType>
	<xs:element name="locale">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="matchAttribute" type="xs:string"
							use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="dateFormat" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="format" type="xs:string" use="optional" />
						<xs:attribute name="dateFormat" type="xs:string" use="optional" />
						<xs:attribute name="short" type="xs:string" />
						<xs:attribute name="long" type="xs:string" />
						<xs:attribute name="monthNames" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="timeFormat" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="format" type="xs:string" use="optional" />
						<xs:attribute name="timeFormat" type="xs:string" use="optional" />
						<xs:attribute name="short" type="xs:string" />
						<xs:attribute name="long" type="xs:string" />
						<xs:attribute name="amPmStrings" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="dateTimeFormat" minOccurs="0"
					maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="format" type="xs:string" use="optional" />
						<xs:attribute name="dateFormat" type="xs:string" use="optional" />
						<xs:attribute name="timeFormat" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="moneyFormat" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="format" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="decimalFormat" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="format" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="localeNameType" use="required" />
			<xs:attribute name="dotnetName" type="dotnetNameType"
				use="optional" />
			<xs:attribute name="currencySymbol" type="xs:string"
				use="optional" />
			<xs:attribute name="decimalSeparator" type="xs:string"
				use="optional" />
			<xs:attribute name="groupingSeparator" type="xs:string"
				use="optional" />
            <xs:attribute name="displayUnits" type="xs:string"
                use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="localeNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="en_US" />
			<xs:enumeration value="en_AU" />
			<xs:enumeration value="en_CA" />
			<xs:enumeration value="en_GB" />
			<xs:enumeration value="fr_FR" />
			<xs:enumeration value="fr_CA" />
			<xs:enumeration value="ar_SA" />
			<xs:enumeration value="zh_CN" />
			<xs:enumeration value="zh_TW" />
			<xs:enumeration value="nl_NL" />
			<xs:enumeration value="no_NO" />
			<xs:enumeration value="de_DE" />
			<xs:enumeration value="iw_IL" />
			<xs:enumeration value="it_IT" />
			<xs:enumeration value="ja_JP" />
			<xs:enumeration value="ko_KR" />
			<xs:enumeration value="pt_BR" />
			<xs:enumeration value="es_ES" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dotnetNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="en-US" />
			<xs:enumeration value="en-AU" />
			<xs:enumeration value="en-CA" />
			<xs:enumeration value="en-GB" />
			<xs:enumeration value="fr-FR" />
			<xs:enumeration value="fr-CA" />
			<xs:enumeration value="ar-SA" />
			<xs:enumeration value="zh-Hans" />
			<xs:enumeration value="zh-Hant" />
			<xs:enumeration value="nl-NL" />
			<xs:enumeration value="nb-NO" />
			<xs:enumeration value="de-DE" />
			<xs:enumeration value="he-IL" />
			<xs:enumeration value="it-IT" />
			<xs:enumeration value="ja-JP" />
			<xs:enumeration value="ko-KR" />
			<xs:enumeration value="pt-BR" />
			<xs:enumeration value="es-ES" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="xmlSchemasType">
		<xs:sequence>
			<xs:element name="xmlSchema" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="axvw" />
								<xs:enumeration value="frms" />
								<xs:enumeration value="acts" />
								<xs:enumeration value="dflt" />
								<xs:enumeration value="lang" />
								<xs:enumeration value="incomingActionXml" />
								<xs:enumeration value="afm-license" />
								<xs:enumeration value="afm-secure" />
								<xs:enumeration value="afm-projects" />
								<xs:enumeration value="vpa-restriction" />
								<xs:enumeration value="afm-workflow-rules" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="validation" type="xs:boolean" use="required" />
					<xs:attribute name="uri" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="databases">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="database" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="database">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="engine" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="engine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="matchAttribute" type="xs:string"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="jdbc" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="driver" type="xs:string" use="required" />
						<xs:attribute name="url" type="xs:string" use="required" />
						<xs:attribute name="connectFormat" type="xs:positiveInteger"
							use="required" />
						<xs:attribute name="transactionIsolationLevel" type="xs:positiveInteger"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="sql" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="format" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="date" type="xs:string" use="required" />
									<xs:attribute name="time" type="xs:string" use="required" />
									<xs:attribute name="datetime" type="xs:string"
										use="required" />
									<xs:attribute name="double" type="xs:string" use="optional" />
									<xs:attribute name="float" type="xs:string" use="optional" />
									<xs:attribute name="integer" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="function" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="date" type="xs:string" use="required" />
									<xs:attribute name="time" type="xs:string" use="required" />
									<xs:attribute name="datetime" type="xs:string"
										use="required" />
									<xs:attribute name="timestampForField" type="xs:string"
										use="required" />
									<xs:attribute name="timestampForValue" type="xs:string"
										use="required" />
									<xs:attribute name="double" type="xs:string" use="optional" />
									<xs:attribute name="float" type="xs:string" use="optional" />
									<xs:attribute name="integer" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="connectionPool" minOccurs="1"
					maxOccurs="1">
					<xs:complexType>
                        <xs:attribute name="type" type="connectionPoolType" use="optional" />
						<xs:attribute name="maxActive" type="xs:integer" use="optional" />
						<xs:attribute name="maxWait" type="xs:integer" use="optional" />
						<xs:attribute name="maxIdle" type="xs:integer" use="optional" />
						<xs:attribute name="whenExhaustedAction" type="whenExhaustedActionEnum"
							use="optional" />
						<xs:attribute name="testOnBorrow" type="xs:boolean"
							use="optional" />
						<xs:attribute name="testOnReturn" type="xs:boolean"
							use="optional" />
						<xs:attribute name="timeBetweenEvictionRunsMillis"
							type="xs:integer" use="optional" />
						<xs:attribute name="minEvictableIdleTimeMillis" type="xs:integer"
							use="optional" />
						<xs:attribute name="testWhileIdle" type="xs:boolean"
							use="optional" />
						<xs:attribute name="validationQuery" type="xs:string"
							use="required" />
						<xs:attribute name="minIdle" type="xs:integer" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
    <xs:simpleType name="connectionPoolType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dbcp" />
            <xs:enumeration value="c3p0" />
            <xs:enumeration value="JNDI" />
        </xs:restriction>
    </xs:simpleType>
	
	<xs:element name="classLoaders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="addChildren" type="xs:boolean"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="classLoader" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="key" type="xs:string" use="required" />
								<xs:attribute name="value" type="xs:string" use="required" />
								<xs:attribute name="expires" type="xs:integer" use="required" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileCategories">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="addChildren" type="xs:boolean"
							use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="fileCategory" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="searchDirectories" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="searchDirectory" minOccurs="1"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="directory" type="xs:string"
													use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="locales" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="locale" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="country" type="xs:string"
													use="required" />
												<xs:attribute name="language" type="xs:string"
													use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="extension" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="xml" type="xs:boolean" use="required" />
						<xs:attribute name="fileName" type="xs:string" use="optional" />
						<xs:attribute name="classLoaderKey" type="xs:string"
							use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="restrictions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="addChildren" type="xs:boolean"
							use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="restriction" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="translatable" type="xs:boolean"
												use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="validatingTable" minOccurs="0"
								maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="field" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="optional" />
									<xs:attribute name="table" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="clause" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="field" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="table" type="xs:string"
													use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="relop" type="relopTypes" use="required" />
									<xs:attribute name="op" type="opTypes" use="required" />
									<xs:attribute name="value" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="sql" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDAP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="attribute" minOccurs="2" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="use" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>

			<xs:attribute name="servertype" type="xs:string" use="optional" />
			<xs:attribute name="server" type="xs:string" use="required" />
			<xs:attribute name="organizationalUnit" type="xs:string"
				use="required" />
			<xs:attribute name="rootSuffix" type="xs:string" use="required" />
			<xs:attribute name="groupPrefix" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="locales">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" type="xs:string" />
				<xs:element ref="locale" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SSO">
		<xs:complexType>
			<xs:attribute name="useSSO" type="xs:boolean" use="required" />
			<xs:attribute name="userId" type="xs:string" use="required" />
			<xs:attribute name="password" type="xs:string" use="optional" />
			<xs:attribute name="projectName" type="xs:string" use="optional" />
			<xs:attribute name="viewName" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="relopTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AND" />
			<xs:enumeration value="OR" />
			<xs:enumeration value=")AND(" />
			<xs:enumeration value=")OR(" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="opTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="=" />
			<xs:enumeration value="&gt;" />
			<xs:enumeration value="&lt;" />
			<xs:enumeration value="&gt;=" />
			<xs:enumeration value="&lt;=" />
			<xs:enumeration value="IS NULL" />
			<xs:enumeration value="IS NOT NULL" />
			<xs:enumeration value="LIKE" />
			<xs:enumeration value="NOT LIKE" />
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="languageEnabledType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes" />
            <xs:enumeration value="no" />
            <xs:enumeration value="auto" />
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="languages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inherit" type="xs:string" />
				<xs:element name="language" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="isoLanguage" type="isoLanguageType"
							use="required" />
						<xs:attribute name="localeName" type="localeNameType"
							use="optional" />
						<xs:attribute name="enabled" type="languageEnabledType" use="required" />
						<xs:attribute name="dbExtension" type="xs:string"
							use="required" />
						<xs:attribute name="helpExtension" type="xs:string"
							use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="requiredComponentsType">
		<xs:sequence>
			<xs:element name="requiredComponent" minOccurs="0"
				maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="supportedVersions" type="supportedVersionsType"
							minOccurs="1" maxOccurs="1" />
					</xs:sequence>
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:attribute name="versionClassName" type="xs:string"
						use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="supportedVersionsType">
		<xs:sequence>
			<xs:element name="supportedVersion" minOccurs="0"
				maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="version" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="isoLanguageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="en" />
			<xs:enumeration value="fr" />
			<xs:enumeration value="ar" />
			<xs:enumeration value="zh" />
			<xs:enumeration value="nl" />
			<xs:enumeration value="no" />
			<xs:enumeration value="de" />
			<xs:enumeration value="iw" />
			<xs:enumeration value="it" />
			<xs:enumeration value="ja" />
			<xs:enumeration value="ko" />
			<xs:enumeration value="pt" />
			<xs:enumeration value="es" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="whenExhaustedActionEnum">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pdfPrintStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="portrait" />
			<xs:enumeration value="landscape" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WFRulesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Message" />
			<xs:enumeration value="Scheduled" />
			<xs:enumeration value="Notification" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
