schema/ab-system/xsd/afm-xml-views.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <!--author: Yong Shao -->
 <!--Date: 10/30/2003 -->
 <!--comment: afmXmlView.xsd is used to validate views (*.axvw) -->
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- elements -->
        <!-- root element -->
        <xs:element name="afmXmlView" type="afmXmlViewType"/>

        <xs:element name="title"  type="titleType"/>

        <xs:element name="recordTitle" type="titleType"/>

        <xs:element name="preferences"	type="preferencesType" />

        <xs:element name="fileCategory"	type="fileCategoryType" />

        <xs:element name="afmTableGroup" type="afmTableGroupType" />

        <xs:element name="formatting"  type="formattingType" />

        <xs:element name="message"  type="messageType"/>

        <xs:element name="icon"  type="iconType"/>

        <xs:element name="afmAction"  type="afmActionType"/>

           <xs:element name="event"  type="eventType"/>

        <xs:element name="restrictions"  type="restrictionsType"/>

        <xs:element name="queryParameters"  type="queryParametersType"/>

        <xs:element name="field" type="fieldType"/>

        <xs:element name="parameters" type="parametersType" />

        <xs:element name="parameter" type="parameterType" />

        <xs:complexType name="parametersType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="value" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:complexType name="parameterType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="state" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:element name="localeMessages">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="localeMessage"  type="localeMessageType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:complexType name="localeMessageType">
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="translatable" type="xs:boolean" use="required"/>
                                <xs:attribute name="name" type="xs:string" use="required"/>

                                <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>

        <xs:element name="layer">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="on" type="xs:boolean" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="layers">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="layer"  minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="drawing">
                <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="clause">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="field"  minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="relop" type="relopTypes" use="optional"/>
                        <xs:attribute name="op" type="opTypes" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="layerName">
                <xs:complexType>
                        <xs:attribute name="format" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="dataSource" type="dataSourcetype"/>

        <xs:element name="notify" type="notifyType"/>

        <xs:element name="database" type="databaseType" />

        <xs:element name="subFrame">
                <xs:complexType>
                        <xs:simpleContent>
                                <xs:extension base="xs:string">
                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                </xs:extension>
                        </xs:simpleContent>
                </xs:complexType>
        </xs:element>

        <xs:element name="statistics" type="statisticsType"/>

        <xs:element name="afmReport" type="afmReportType" />

        <xs:element name="filter" type="filterType"/>

        <xs:element name="operators" type="operatorsType" />

        <xs:element name="time-options" type="time-optionsType" />

        <xs:element name="time-durations" type="time-durationsType" />

        <xs:element name="data" type="dataType" />

        <xs:element name="tables"  type="tablesType"/>

        <xs:element name="fields"  type="fieldsType"/>

        <xs:element name="records" type="recordsType" />

        <xs:element name="record" type="recordType" />

        <xs:element name="sort" type="sortType"/>

        <xs:element name="index" type="indexType"/>

        <xs:element name="availableFields">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:complexType name="notifyType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>

        <!-- ???? request-work-edit.axvw ?????  -->
        <xs:element name="forFields">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="restriction">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="sql" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="queryParameter">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dimensionValue" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                        <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:complexType>
        </xs:element>

        <!-- the types for elements -->
        <xs:complexType name="dataType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="recordsType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="recordType">
                <!-- cannot defined here -->
                <xs:anyAttribute processContents="lax"/>
        </xs:complexType>


        <xs:simpleType name="fileCategoryExtensionType">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="frms"/>
                        <xs:enumeration value="axvw"/>
                        <xs:enumeration value="xsl"/>
                        <xs:enumeration value="acts"/>
                        <xs:enumeration value="dflt"/>
                        <xs:enumeration value="lang"/>
                </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="formattingType">
                <xs:sequence>
                        <xs:element name="xsl"  minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="file" type="xs:string" use="required"/>
                                        <xs:attribute name="path" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="xsl-fo"  minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="file" type="xs:string" use="required"/>
                                        <xs:attribute name="path" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="css"  minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="file" type="xs:string" use="required"/>
                                        <xs:attribute name="path" type="xs:string" use="optional"/>
                                        <xs:attribute name="default" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="js"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:attribute name="file" type="xs:string" use="required"/>
                                        <xs:attribute name="path" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="messageType">
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="name" type="xs:string" use="optional"/>
                                <xs:attribute name="success" type="xs:integer" use="optional"/>
                                <xs:attribute name="translatable" type="xs:boolean" use="required"/>
                                <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>

        <xs:complexType name="restrictionsType">
                <xs:sequence>
                        <xs:element name="inherit" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="addChildren" type="xs:boolean" use="optional" />
                                </xs:complexType>
                        </xs:element>
                        <xs:element ref="restriction" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="queryParametersType">
                <xs:sequence>
                        <xs:element ref="queryParameter" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="statisticsType">
                <xs:sequence>
                        <xs:element name="statistic" minOccurs="0" maxOccurs="unbounded" >
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="titleType"/>
                                                <xs:element ref="field"  minOccurs="0" maxOccurs="1"/>
                                                <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="titleType"/>
                                        </xs:sequence>
                                        <xs:attribute name="op" type="xs:string" use="required"/>
                                        <xs:attribute name="sql" type="xs:string" use="optional"/>
                                        <xs:attribute name="applyAllRestrictions" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="name" type="xs:string" use="optional"/>
                                        <xs:attribute name="applyLocaleFormatting" type="xs:boolean" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="orderType">
                <xs:sequence>
                        <xs:element ref="field"  minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="sortType">
                <xs:sequence>
                        <xs:element name="order" type="orderType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="unique" type="xs:boolean" use="optional"/>
                <xs:attribute name="ascending" type="xs:boolean" use="optional"/>
        </xs:complexType>

        <xs:complexType name="indexType">
                <xs:sequence>
                        <xs:element name="order" type="orderType" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
        </xs:complexType>

        <xs:simpleType name="tgrpTypes">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="report"/>
                        <xs:enumeration value="editForm"/>
                        <xs:enumeration value="reportNavigator"/>
                        <xs:enumeration value="login"/>
                        <xs:enumeration value="viewDefinition"/>
                        <xs:enumeration value="drawing"/>
                        <xs:enumeration value="viewTitleBar"/>
                        <xs:enumeration value="navigator"/>
                        <xs:enumeration value="form"/>
                        <xs:enumeration value="errorMessage"/>
                        <xs:enumeration value="reportLicenseInfo"/>
                        <xs:enumeration value="com.archibus.view.tablegroup.TableGroupCustomImpl"/>
                        <xs:enumeration value="layoutContainer"/>
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="formatType">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="table"/>
                        <xs:enumeration value="editForm"/>
                        <xs:enumeration value="column"/>
                        <xs:enumeration value="drawing"/>
                        <xs:enumeration value="tabs"/>
                                    <xs:enumeration value="panels"/>
                                    <xs:enumeration value="grid"/>
                                    <xs:enumeration value="tree"/>
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="mdxFormatType">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="off"/>
                        <xs:enumeration value="table"/>
                        <xs:enumeration value="barChart"/>
                        <xs:enumeration value="stackedBarChart"/>
                        <xs:enumeration value="lineChart"/>
                        <xs:enumeration value="areaChart"/>
                        <xs:enumeration value="pieChart"/>
                </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="dataSourcetype">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="optional"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="timeslotDuration" type="xs:integer" use="optional"/>
                <xs:attribute name="start" type="xs:string" use="optional"/>
                <xs:attribute name="duration" type="xs:integer" use="optional"/>
                <xs:attribute name="layersOn" type="xs:string" use="optional"/>
        </xs:complexType>


        <xs:complexType name="tablesType">
                <xs:sequence>
                        <xs:element name="table" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:attribute name="name" type="xs:string" use="required"/>
                                        <xs:attribute name="role" type="xs:string" use="required"/>
                                        <xs:attribute name="distinct" type="xs:boolean" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="fieldsType" >
                <xs:sequence>
                        <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>


        <xs:complexType name="databaseType">
                <xs:all>
                        <xs:element ref="query"  minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="tables"  minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="sort"  minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="index"  minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="fields" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="restrictions" type="restrictionsType" minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="restriction"  minOccurs="0" maxOccurs="1"/>
                        <xs:element name="statistics" type="statisticsType" minOccurs="0" maxOccurs="1"/>
                </xs:all>
        </xs:complexType>

        <xs:complexType name="afmXmlViewType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="frame" type="xs:string" use="optional"/>
                <xs:attribute name="fileName" type="xs:string" use="optional"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="debug" type="xs:boolean" use="optional"/>
                <xs:attribute name="selectValue" type="xs:boolean" use="optional"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="renameFrame" type="xs:boolean" use="optional"/>
                <xs:attribute name="isTreeExpanded" type="xs:boolean" use="optional"/>
                <xs:attribute name="bShowAlterButtons" type="xs:boolean" use="optional"/>
                <xs:attribute name="showLogo" type="xs:boolean" use="optional"/>
                <xs:attribute name="applyMacrosExpanding2Records" type="xs:boolean" use="optional"/>
        </xs:complexType>

        <xs:complexType name="fieldType">
                <xs:sequence>
                        <!-- ?????? login.axvw ????? -->
                        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="table" type="xs:string" use="optional"/>
                <xs:attribute name="required" type="xs:string" use="optional"/>
                <xs:attribute name="role" type="xs:string" use="optional"/>
                <xs:attribute name="distinct" type="xs:string" use="optional"/>
                <xs:attribute name="unique" type="xs:string" use="optional"/>
                <xs:attribute name="ascending" type="xs:string" use="optional"/>
                <!-- ???????????????? login.axvw ?????????????? -->
                <xs:attribute name="singleLineHeading" type="xs:string" use="optional"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="format" type="xs:string" use="optional"/>
                <xs:attribute name="size" type="xs:string" use="optional"/>
                <xs:attribute name="decimals" type="xs:string" use="optional"/>
                <xs:attribute name="displaySizeHeading" type="xs:string" use="optional"/>
                <xs:attribute name="displaySizeNoHeading" type="xs:string" use="optional"/>
                <xs:attribute name="readOnly" type="xs:string" use="optional"/>
                <xs:attribute name="key" type="xs:string" use="optional"/>
                <xs:attribute name="hidden" type="xs:string" use="optional"/>
                <xs:attribute name="defaultValue" type="xs:string" use="optional"/>
                <xs:attribute name="afmType" type="xs:string" use="optional"/>
                <xs:attribute name="visible" type="xs:boolean" use="optional"/>
                <xs:attribute name="value" type="xs:string" use="optional"/>
                <xs:attribute name="colspan" type="xs:integer" use="optional"/>
                <xs:attribute name="alias" type="xs:string" use="optional"/>
                <xs:attribute name="op" type="xs:string" use="optional"/>
                <xs:attribute name="labelClass" type="xs:string" use="optional"/>
                <xs:attribute name="class" type="xs:string" use="optional"/>
                <xs:attribute name="style" type="xs:string" use="optional"/>
                <xs:attribute name="showSelectValueAction" type="xs:boolean" use="optional"/>
                <xs:attribute name="onblur" type="xs:string" use="optional"/>
                <xs:attribute name="onfocus" type="xs:string" use="optional"/>
                <xs:attribute name="onkeydown" type="xs:string" use="optional"/>
                <xs:attribute name="onkeyup" type="xs:string" use="optional"/>
                <xs:attribute name="onchange" type="xs:string" use="optional"/>
                <xs:attribute name="onkeypress" type="xs:string" use="optional"/>
                <xs:attribute name="onmouseup" type="xs:string" use="optional"/>
                <xs:attribute name="onmousedown" type="xs:string" use="optional"/>
            <xs:attribute name="dataType" type="fieldDataType" use="optional"/>
            <xs:attribute name="controlType" type="fieldControlType" use="optional"/>
            <xs:attribute name="onclick" type="xs:string" use="optional"/>
            <xs:attribute name="width" type="xs:string" use="optional"/>
            <xs:attribute name="imageName" type="xs:string" use="optional"/>
            <xs:attribute name="enablePrefix" type="xs:boolean" use="optional"/>
                <xs:attribute name="showLabel" type="xs:boolean" use="optional"/>
            <xs:attribute name="selectValueType" type="selectValueType" use="optional"/>
        </xs:complexType>

        <xs:complexType name="titleType">
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                <xs:attribute name="parentFrame" type="xs:string" use="optional"/>
                                <xs:attribute name="tableGroup" type="xs:string" use="optional"/>
                                <xs:attribute name="hidden" type="xs:string" use="optional"/>
                                <xs:attribute name="class" type="xs:string" use="optional"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>

        <xs:complexType name="operatorsType">
                <xs:sequence>
                        <xs:element name="operator" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="value" type="xs:string" use="required"/>
                                                        <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:complexType name="time-durationsType">
                <xs:sequence>
                        <xs:element name="duration" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="value" type="xs:string" use="required"/>
                                                        <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="time-optionsType">
                <xs:sequence>
                        <xs:element name="time" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:attribute name="value" type="xs:string" use="required"/>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="conjunctionsType">
                <xs:sequence>
                        <xs:element name="conjunction" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                        <xs:attribute name="value" type="xs:string" use="required"/>
                                                        <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                                </xs:extension>
                                        </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="iconType">
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="request" type="xs:string" use="optional"/>
                <xs:attribute name="id" type="xs:string" use="optional"/>
        </xs:complexType>

        <!-- ????? rooms-grid.axvw ???????? -->
        <xs:element name="action">
                <xs:complexType>
                        <xs:attribute name="afmView" type="xs:string" use="optional"/>
                        <xs:attribute name="view" type="xs:string" use="optional"/>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="format" type="xs:string" use="optional"/>
                        <xs:attribute name="new" type="xs:boolean" use="optional"/>
                        <xs:attribute name="class" type="xs:string" use="optional"/>
                        <xs:attribute name="newWindow" type="xs:boolean" use="optional"/>
                </xs:complexType>
        </xs:element>

        <!-- new???? -->
        <xs:element name="override">
                <xs:complexType>
                        <xs:attribute name="addNew" type="xs:boolean" use="required"/>
                </xs:complexType>
        </xs:element>

         <xs:element name="script">
            <xs:complexType>
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="language" type="xs:string" use="optional"/>
                        </xs:extension>
                </xs:simpleContent>
             </xs:complexType>
        </xs:element>

            <xs:element name="onClick">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="language" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

        <xs:complexType name="afmActionType">
                <xs:sequence>
                    <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="target" type="xs:string" use="optional"/>
                <xs:attribute name="event" type="xs:string" use="optional"/>
                <xs:attribute name="eventName" type="xs:string" use="optional"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
                <xs:attribute name="userIdSSO" type="xs:string" use="optional"/>
                <xs:attribute name="paswordSSO" type="xs:string" use="optional"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="response" type="xs:boolean" use="optional"/>
                <xs:attribute name="parentFrame" type="xs:string" use="optional"/>
                <xs:attribute name="frame" type="xs:string" use="optional"/>
                <xs:attribute name="newWindow" type="xs:string" use="optional"/>
                <xs:attribute name="state" type="xs:string" use="optional"/>
                <xs:attribute name="request" type="xs:string" use="optional"/>
                <xs:attribute name="tableGroup" type="xs:string" use="optional"/>
                <xs:attribute name="link" type="xs:string" use="optional"/>
                <xs:attribute name="role" type="xs:string" use="optional"/>
                <xs:attribute name="clientSenMailTo" type="xs:string" use="optional"/>
                <xs:attribute name="fireOnLoad" type="xs:string" use="optional"/>
                <xs:attribute name="tip" type="xs:string" use="optional"/>
                <xs:attribute name="targetForm" type="xs:string" use="optional"/>
                <xs:attribute name="title" type="xs:string" use="optional"/>
                <xs:attribute name="responseType" type="xs:string" use="optional"/>
                <xs:attribute name="parametersXPath" type="xs:string" use="optional"/>
                <xs:attribute name="onclick" type="xs:string" use="optional"/>
                    <xs:attribute name="id" type="xs:string" use="optional"/>
                    <xs:attribute name="xpath" type="xs:string" use="optional"/>
                    <xs:attribute name="class" type="xs:string" use="optional"/>
                    <xs:attribute name="hidden" type="xs:string" use="optional"/>
            <xs:attribute name="fieldNames" type="xs:string" use="optional"/>
            <xs:attribute name="selectFieldNames" type="xs:string" use="optional"/>
            <xs:attribute name="visibleFieldNames" type="xs:string" use="optional"/>
            <xs:attribute name="restriction" type="xs:string" use="optional"/>
            <xs:attribute name="actionListener" type="xs:string" use="optional"/>
            <xs:attribute name="applyFilter" type="xs:boolean" use="optional"/>
            <xs:attribute name="showIndex" type="xs:boolean" use="optional"/>
            <xs:attribute name="workflowRuleId" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:simpleType name="eventListType">
          <xs:restriction base="xs:string">
            <xs:enumeration value="onClickNode"/>
            <xs:enumeration value="onContextMenu"/>
          </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="selectValueType">
          <xs:restriction base="xs:string">
            <xs:enumeration value="grid"/>
            <xs:enumeration value="tree"/>
          </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="eventType">
          <xs:sequence>
            <xs:element name="command" type="commandType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="type" type="eventListType" use="optional"/>
        </xs:complexType>

        <xs:complexType name="preferencesType">
                <xs:all>
                        <xs:element name="restrictionConsole" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="show" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="file" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="viewTitleBar" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="show" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="file" type="xs:string" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="pdfButton" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="show" type="xs:boolean" use="required"/>
                                        <xs:attribute name="style" type="pdfPrintStyle" use="optional"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="export" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                <xs:sequence>
                                        <xs:element name="pdf" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                        <xs:sequence>
                                                                <xs:element name="xsl" minOccurs="1" maxOccurs="1">
                                                                        <xs:complexType>
                                                                                <xs:attribute name="file" type="xs:string" use="required"/>
                                                                        </xs:complexType>
                                                                </xs:element>
                                                        </xs:sequence>
                                                </xs:complexType>
                                        </xs:element>
                                        <xs:element name="excel" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                        <xs:sequence>
                                                                <xs:element name="button" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                                <xs:attribute name="show" type="xs:boolean" use="required"/>
                                                                        </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="xsl" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                                <xs:attribute name="file" type="xs:string" use="required"/>
                                                                        </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="mdx" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                                <xs:sequence>
                                                                                        <xs:element name="button" minOccurs="0" maxOccurs="1">
                                                                                                <xs:complexType>
                                                                                                        <xs:attribute name="show" type="xs:boolean" use="required"/>
                                                                                                </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="xsl" minOccurs="0" maxOccurs="1">
                                                                                                <xs:complexType>
                                                                                                        <xs:attribute name="file" type="xs:string" use="required"/>
                                                                                                </xs:complexType>
                                                                                        </xs:element>
                                                                                </xs:sequence>
                                                                        </xs:complexType>
                                                                </xs:element>
                                                        </xs:sequence>
                                                </xs:complexType>
                                        </xs:element>
                                </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                        <xs:element name="retrievedRecords" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                        <xs:attribute name="inheritParentContext" type="xs:boolean" use="required"/>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="recordLimits" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="recordLimit" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:attribute name="output" type="xs:string" use="required"/>
                                            <xs:attribute name="ruleType" type="WFRulesType" use="required"/>
                                            <xs:attribute name="perTgrp" type="xs:integer" use="required"/>
                                            <xs:attribute name="perView" type="xs:integer" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                </xs:all>
                <xs:attribute name="showParentsWithoutChildren" type="xs:boolean" use="optional"/>
                <xs:attribute name="stackTraceAllowed" type="xs:boolean" use="optional"/>
        </xs:complexType>

        <xs:complexType name="fileCategoryType">
                <xs:attribute name="extension" type="fileCategoryExtensionType" use="optional"/>
                <xs:attribute name="fileName" type="xs:string" use="optional"/>
                <xs:attribute name="file" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:complexType name="afmTableGroupType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="type" type="tgrpTypes" use="optional"/>
                <xs:attribute name="format" type="formatType" use="optional"/>
                <xs:attribute name="defaultActions" type="xs:boolean" use="optional"/>
                <xs:attribute name="defaultAction" type="xs:string" use="optional"/>
                <xs:attribute name="showGrid" type="xs:boolean" use="optional"/>
                <xs:attribute name="tableWidth" type="xs:integer" use="optional"/>
                <xs:attribute name="frame" type="xs:string" use="optional"/>
                <xs:attribute name="column" type="xs:string" use="optional"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="previousPage" type="xs:boolean" use="optional"/>
                <xs:attribute name="separateWindow" type="xs:boolean" use="optional"/>
                <xs:attribute name="showParentsWithoutChildren" type="xs:boolean" use="optional"/>
                <xs:attribute name="highlightRestriction" type="xs:string" use="optional"/>
                <xs:attribute name="addNew" type="xs:string" use="optional"/>
                <xs:attribute name="isRegularView" type="xs:boolean" use="optional"/>
                <xs:attribute name="isAllowedEditViewAnalysis" type="xs:boolean" use="optional"/>
                <xs:attribute name="applyActionRestrictions" type="xs:boolean" use="optional"/>
                <xs:attribute name="skipDefaultActionsById" type="xs:string" use="optional"/>
                <xs:attribute name="defaultActionsPosition" type="xs:string" use="optional"/>
                <xs:attribute name="headerClass" type="xs:string" use="optional"/>
                <xs:attribute name="footerClass" type="xs:string" use="optional"/>
                <xs:attribute name="id" type="xs:string" use="optional"/>
                <xs:attribute name="enctype" type="xs:string" use="optional"/>
                <xs:attribute name="method" type="xs:string" use="optional"/>
        </xs:complexType>

        <xs:element name="response">
                <xs:complexType>
                        <xs:attribute name="contentType" type="xs:string" use="required"/>
                        <xs:attribute name="contentDisposition" type="xs:string" use="optional"/>
                        <xs:attribute name="fileName" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>

    <xs:element name="mdx">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="afmAction" minOccurs="0" maxOccurs="unbounded"/>

                <xs:element name="preferences" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs="1" maxOccurs="unbounded" processContents="lax"/>
                        </xs:sequence>
                        <xs:anyAttribute processContents="lax"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

        <!-- ????? rooms-grid.axvw ???????? -->

        <xs:element name="selection">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="rows">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="row">
                <xs:complexType>
                        <xs:sequence>
                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:complexType name="afmReportType">
                <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="printable" type="xs:boolean" use="required"/>
        </xs:complexType>

        <xs:complexType name="filterType" >
                <xs:all>
                        <xs:element name="operators" type="operatorsType"/>
                        <xs:element name="conjunctions" type="conjunctionsType"/>
                </xs:all>
        </xs:complexType>
        <!-- ???? in view-definition-form-content-table-options.axvw -->
        <xs:element name="columns">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="column"  minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                                <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                                <xs:attribute name="value" type="xs:positiveInteger" use="required"/>
                                                        </xs:extension>
                                                </xs:simpleContent>
                                        </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="formats">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="format"  minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                                <xs:sequence>
                                                        <xs:element name="title"  minOccurs="0" maxOccurs="unbounded" type="titleType"/>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="formatType" use="optional"/>
                                        </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="types">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="type"  minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                                <xs:sequence>
                                                        <xs:element name="title"  minOccurs="0" maxOccurs="unbounded" type="titleType"/>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="tgrpTypes" use="required"/>
                                        </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>


        <xs:simpleType name="relopTypes">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="AND"/>
                        <xs:enumeration value="OR"/>
                        <xs:enumeration value=")AND("/>
                        <xs:enumeration value=")OR("/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="opTypes">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="="/>
                        <xs:enumeration value="&gt;"/>
                        <xs:enumeration value="&lt;"/>
                        <xs:enumeration value="&gt;="/>
                        <xs:enumeration value="&lt;="/>
                        <xs:enumeration value="!="/>
                        <xs:enumeration value="IS NULL"/>
                        <xs:enumeration value="IS NOT NULL"/>
                        <xs:enumeration value="LIKE"/>
                        <xs:enumeration value="NOT LIKE"/>
                </xs:restriction>
        </xs:simpleType>
         <xs:simpleType name="pdfPrintStyle">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="portrait"/>
                        <xs:enumeration value="landscape"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="WFRulesType">
                <xs:restriction base="xs:string">
                         <xs:enumeration value="Message"/>
                        <xs:enumeration value="Scheduled"/>
                        <xs:enumeration value="Notification"/>
                </xs:restriction>
        </xs:simpleType>

     <!-- form templates -->

        <xs:element name="tabs">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="tab" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="afmAction" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="icon" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="fileName" type="xs:string" use="required"/>
                            <xs:attribute name="selected" type="xs:boolean" use="optional"/>
                            <xs:attribute name="hidden" type="xs:string" use="optional"/>

                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="workflow" type="tabsWorkflowStyle" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:simpleType name="tabsWorkflowStyle">
            <xs:restriction base="xs:string">
                <xs:enumeration value="free"/>
                <xs:enumeration value="enforced"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:element name="panels">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="panel" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
                                                <xs:element ref="multiSelection" minOccurs="0" maxOccurs="1"/>
                                <xs:element ref="afmAction" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="fields" minOccurs="0" maxOccurs="1"/>
                                                <xs:element ref="ui" minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="optional"/>
                            <xs:attribute name="type" type="panelType" use="optional"/>
                            <xs:attribute name="controlType" type="xs:string" use="optional"/>
                            <xs:attribute name="columns" type="xs:integer" use="optional"/>
                                        <xs:attribute name="actionsPosition" type="xs:string" use="optional"/>
                                        <xs:attribute name="labelsPosition" type="xs:string" use="optional"/>
                                        <xs:attribute name="headerClass" type="xs:string" use="optional"/>
                                        <xs:attribute name="id" type="xs:string" use="optional"/>
                                        <xs:attribute name="showOnLoad" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="selectionEnabled" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="multipleSelectionEnabled" type="xs:boolean" use="optional"/>
                            <xs:attribute name="tabOrder" type="tabOrderType" use="optional"/>
                            <xs:attribute name="formLabelWidth" type="xs:integer" use="optional"/>
                                        <xs:attribute name="afterRefresh" type="xs:string" use="optional"/>
                                        <xs:attribute name="beforeSave" type="xs:string" use="optional"/>
                                        <xs:attribute name="beforeDelete" type="xs:string" use="optional"/>
                                        <xs:attribute name="useParentRestriction" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="refreshWorkflowRuleId" type="xs:string" use="optional"/>
                                        <xs:attribute name="saveWorkflowRuleId" type="xs:string" use="optional"/>
                                        <xs:attribute name="deleteWorkflowRuleId" type="xs:string" use="optional"/>
                                        <xs:attribute name="clearWorkflowRuleId" type="xs:string" use="optional"/>
                                                <xs:attribute name="height" type="xs:string" use="optional"/>
                                                <xs:attribute name="style" type="xs:string" use="optional"/>
                                        <xs:attribute name="newRecord" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="dataSourceId" type="xs:string" use="optional"/>
                                        <xs:attribute name="level" type="levelType" use="optional"/>
                                        <xs:attribute name="cssClassName" type="xs:string" use="optional"/>
                                        <xs:attribute name="cssPkClassName" type="xs:string" use="optional"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="multiSelection">
                <xs:complexType>
                     <xs:sequence>
                                <xs:element ref="afmAction" minOccurs="1" maxOccurs="unbounded"/>
                      </xs:sequence>
                </xs:complexType>
        </xs:element>

    <xs:simpleType name="panelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="form"/>
            <xs:enumeration value="report"/>
                <xs:enumeration value="console"/>
                <xs:enumeration value="ui"/>
            <xs:enumeration value="grid"/>
            <xs:enumeration value="tree"/>
            <xs:enumeration value="hierTree"/>
            <xs:enumeration value="control"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="levelType">
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tabOrderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="row"/>
            <xs:enumeration value="column"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="style">
        <xs:complexType>
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="type" type="csstype" use="required"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="csstype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text/css"/>
        </xs:restriction>
    </xs:simpleType>

     <xs:element name="ui">
        <xs:complexType>
                  <xs:sequence>
                        <xs:any processContents="lax" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
    </xs:element>

         <xs:element name="dimensionValue">
                <xs:complexType>
                        <xs:attribute name="dimension" type="xs:string" use="required"/>
                </xs:complexType>
         </xs:element>

    <xs:element name="sql">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="dialect" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="query">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="queryParameters" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="sql" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="fieldDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="time"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fieldControlType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="link"/>
            <xs:enumeration value="button"/>
            <xs:enumeration value="imagebutton"/>
            <xs:enumeration value="radiobutton"/>
            <xs:enumeration value="checkbox"/>
            <xs:enumeration value="combobox"/>
            <xs:enumeration value="listbox"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="memo"/>
            <xs:enumeration value="document"/>
            <xs:enumeration value="image"/>
            <xs:enumeration value="drawing"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="options">
    <xs:complexType>
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
    </xs:element>

    <xs:complexType name="commandType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>

 </xs:schema>
