schema/ab-system/xsd/afm-projects.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--author: Yong Shao -->
<!--Date: 10/27/2003 -->
<!--comment: afm-projects.xsd is used to validate afm-projects.xml -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- root element -->
    <xs:element name="afm-projects">
        <xs:complexType>
            <xs:sequence>
                <xs:element
                    ref="project"
                    minOccurs="1"
                    maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- end of root element -->
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element
                    ref="preferences"
                    minOccurs="1"
                    maxOccurs="1"/>
                <xs:element
                    ref="databases"
                    minOccurs="1"
                    maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="preferences">
        <xs:complexType>
            <xs:attribute
                name="name"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="title"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="projectFolder"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="projectGraphicsFolder"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="projectDrawingsFolder"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="units"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="baseUnits"
                type="xs:string"
                use="required"/>
            <xs:attribute
                name="logoFile"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="logoPDF"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="logoEXCEL"
                type="xs:string"
                use="optional"/>

            <xs:attribute
                name="projectType"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="databaseEngineType"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="databaseFile"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="createDatabase"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="projectDrawingsSubFolder"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="enterpriseGraphicsFolder"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="drawingsFolderForSmartClient"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="enterpriseGraphicsFolderForSmartClient"
                type="xs:string"
                use="optional"/>
            <xs:attribute
                name="useDocumentManagementForDrawings"
                type="xs:boolean"
                use="optional"/>

            <xs:attribute
                name="preloadTableDefs"
                type="xs:boolean"
                use="optional"/>
            <xs:attribute
                name="active"
                type="xs:boolean"
                use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="databases">
        <xs:complexType>
            <xs:sequence>
                <xs:element
                    ref="database"
                    minOccurs="3"
                    maxOccurs="3"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element
                    name="login"
                    minOccurs="1"
                    maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute
                                    name="defaultAccount"
                                    type="xs:string"
                                    use="required"/>
                                <xs:attribute
                                    name="defaultPassword"
                                    type="xs:string"
                                    use="required"/>
                                <xs:attribute
                                    name="integratedLogin"
                                    type="xs:string"
                                    use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element
                    name="engine"
                    minOccurs="1"
                    maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element
                                name="jdbc"
                                minOccurs="1"
                                maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute
                                        name="url"
                                        type="xs:string"
                                        use="optional"/>
                                    <xs:attribute
                                        name="jndiDataSourceName"
                                        type="xs:string"
                                        use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute
                            name="type"
                            type="xs:string"
                            use="required"/>
                        <xs:attribute
                            name="usingSybase7RuntimeEngine"
                            type="xs:string"
                            use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element
                    name="connectionPool"
                    minOccurs="0"
                    maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="type" type="connectionPoolType" use="optional" />
                        <xs:attribute
                            name="maxActive"
                            type="xs:integer"
                            use="optional"/>
                        <xs:attribute
                            name="maxWait"
                            type="xs:integer"
                            use="optional"/>
                        <xs:attribute
                            name="maxIdle"
                            type="xs:integer"
                            use="optional"/>
                        <xs:attribute
                            name="whenExhaustedAction"
                            type="whenExhaustedActionEnum"
                            use="optional"/>
                        <xs:attribute
                            name="testOnBorrow"
                            type="xs:boolean"
                            use="optional"/>
                        <xs:attribute
                            name="testOnReturn"
                            type="xs:boolean"
                            use="optional"/>
                        <xs:attribute
                            name="timeBetweenEvictionRunsMillis"
                            type="xs:integer"
                            use="optional"/>
                        <xs:attribute
                            name="minEvictableIdleTimeMillis"
                            type="xs:integer"
                            use="optional"/>
                        <xs:attribute
                            name="testWhileIdle"
                            type="xs:boolean"
                            use="optional"/>
                        <xs:attribute
                            name="validationQuery"
                            type="xs:string"
                            use="optional"/>
                        <xs:attribute
                            name="minIdle"
                            type="xs:integer"
                            use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute
                name="role"
                type="useType"
                use="required"/>
            <xs:attribute
                name="maxNumberOfRecords"
                type="xs:integer"
                use="optional"/>
            <xs:attribute
                name="maxNumberOfRecordsPerView"
                type="xs:integer"
                use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="connectionPoolType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dbcp" />
            <xs:enumeration value="c3p0" />
            <xs:enumeration value="JNDI" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="useType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="data"/>
            <xs:enumeration value="schema"/>
            <xs:enumeration value="security"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="whenExhaustedActionEnum">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
