schema/ab-system/xsd/xmlStringFromClientSideAction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--author: Yong Shao -->
<!--Date: 11/13/2003 -->
<!--comment: xmlStringFromClientSideAction.xsd is used to validate xml string coming
        from client-side when any server-side-responsible-action is fired-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="afmAction" type="afmActiontype"/>
                <xs:element name="target" type="targetType" />
                <xs:element name="key" type="keyType" />
                <xs:element name="parameters" type="parametersType" />
                <xs:element name="parameter" type="parameterType" />
                <xs:element name="title" type="titleType" />
                <xs:element name="recordTitle" type="titleType"/>
                <xs:element name="afmReport" type="afmReportType"/>
            <xs:element name="message" type="messageType" />
            <xs:element name="icon" type="iconType" />
                <xs:element name="records" type="recordsType" />
            <xs:element name="record" type="recordType" />
             <xs:element name="pkeys" type="pkeysType" />
                <xs:element name="recordOld" type="recordType" />
            <xs:element name="visibleFields" type="visibleFieldsType" />
                <xs:element name="viewOptions" type="viewOptionsType" />
                <xs:element name="afmXmlView" type="afmXmlViewType" />
                <xs:element name="restrictions"  type="restrictionsType"/>
        <xs:element name="queryParameters"  type="queryParametersType"/>
                <xs:element name="clause">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element ref="field"  minOccurs="0" maxOccurs="1"/>
                                        </xs:sequence>
                                        <xs:attribute name="relop" type="relopTypes" use="optional"/>
                                        <xs:attribute name="op" type="opTypes" use="optional"/>
                                        <xs:attribute name="value" type="xs:string" use="optional"/>
                                </xs:complexType>
                </xs:element>
                <xs:element name="field"  type="fieldType"/>
                <xs:element name="fields">
                        <xs:complexType>
                                <xs:sequence>
                                                 <xs:element ref="field"  minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:complexType>
                </xs:element>

                <xs:element name="prefix">
                        <xs:complexType>
                                <xs:attribute name="value" type="xs:string" use="optional"/>
                        </xs:complexType>
                </xs:element>

                <!-- new???? -->
                <xs:element name="override">
                        <xs:complexType>
                                <xs:attribute name="addNew" type="xs:boolean" use="required"/>
                        </xs:complexType>
                </xs:element>

                <xs:element name="statistics" type="statisticsType"/>
                <xs:element name="data" type="dataType" />
                <xs:element name="order" type="orderType" />
                <xs:element name="sort" type="sortType" />
                <xs:element name="afmTableGroup" type="afmTableGroupType" />

                <xs:element name="table">
                        <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="role" type="xs:string" use="required"/>
                        </xs:complexType>
                </xs:element>

                <xs:element name="subFrame">
                        <xs:complexType>
                                <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                                <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:extension>
                                </xs:simpleContent>
                        </xs:complexType>
                </xs:element>

                <xs:complexType name="recordsType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>




                <xs:complexType name="viewOptionsType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>

                <xs:complexType name="afmXmlViewType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="frame" type="xs:string" use="optional"/>
                        <xs:attribute name="fileName" type="xs:string" use="optional"/>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="debug" type="xs:boolean" use="optional"/>
                        <xs:attribute name="selectValue" type="xs:boolean" use="optional"/>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="renameFrame" type="xs:boolean" use="optional"/>
                        <xs:attribute name="isTreeExpanded" type="xs:boolean" use="optional"/>
                        <xs:attribute name="bShowAlterButtons" type="xs:boolean" use="optional"/>
                </xs:complexType>

                <xs:complexType name="messageType">
                        <xs:simpleContent>
                                <xs:extension base="xs:string">
                                        <xs:attribute name="name" type="xs:string" use="optional"/>
                                        <xs:attribute name="success" type="xs:integer" use="optional"/>
                                        <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                </xs:extension>
                        </xs:simpleContent>
                </xs:complexType>

                <xs:complexType name="iconType">
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="request" type="xs:string" use="required"/>
                </xs:complexType>

                 <xs:complexType name="targetType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                 </xs:complexType>
                  <xs:complexType name="visibleFieldsType">
                        <xs:sequence>
                                        <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                 </xs:complexType>

                <xs:complexType name="recordType">
                         <xs:sequence>
                                        <xs:element name="keys" type="keysType" minOccurs="0" maxOccurs="1" />
                                        <xs:any minOccurs="0" maxOccurs="unbounded" />
                         </xs:sequence>
                        <!-- cannot defined here -->
                        <xs:anyAttribute processContents="lax"/>
                </xs:complexType>

                <xs:complexType name="pkeysType">
                        <!-- cannot defined here -->
                        <xs:anyAttribute processContents="lax"/>
                </xs:complexType>


                <xs:complexType name="keysType">
                        <xs:anyAttribute processContents="lax"/>
                </xs:complexType>

                <xs:complexType name="afmTableGroupType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="type" type="tgrpTypes" use="required"/>
                        <xs:attribute name="format" type="formatType" use="required"/>
                        <xs:attribute name="defaultActions" type="xs:boolean" use="optional"/>
                        <xs:attribute name="defaultAction" type="xs:string" use="optional"/>
                        <xs:attribute name="showGrid" type="xs:boolean" use="optional"/>
                        <xs:attribute name="tableWidth" type="xs:integer" use="optional"/>
                        <xs:attribute name="frame" type="xs:string" use="optional"/>
                        <xs:attribute name="column" type="xs:string" use="optional"/>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="previousPage" type="xs:boolean" use="optional"/>
                </xs:complexType>

                <xs:simpleType name="tgrpTypes">
                        <xs:restriction base="xs:string">
                                <xs:enumeration value="report"/>
                                <xs:enumeration value="editForm"/>
                                <xs:enumeration value="reportNavigator"/>
                                <xs:enumeration value="login"/>
                                <xs:enumeration value="viewDefinition"/>
                                <xs:enumeration value="drawing"/>
                                <xs:enumeration value="viewTitleBar"/>
                                <xs:enumeration value="navigator"/>
                                <xs:enumeration value="form"/>
                                <xs:enumeration value="errorMessage"/>
                                <xs:enumeration value="reportLicenseInfo"/>
                                <xs:enumeration value="com.archibus.view.tablegroup.TableGroupCustomImpl"/>
                        </xs:restriction>
                </xs:simpleType>

                <xs:simpleType name="formatType">
                        <xs:restriction base="xs:string">
                                <xs:enumeration value="table"/>
                                <xs:enumeration value="editForm"/>
                                <xs:enumeration value="column"/>
                        </xs:restriction>
                </xs:simpleType>

                <xs:complexType name="parametersType">
                         <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                         </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                </xs:complexType>

                <xs:complexType name="parameterType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="attributeName" type="xs:string" use="optional"/>
                        <xs:attribute name="state" type="xs:string" use="optional"/>
                        <xs:attribute name="framesetGenerated" type="xs:string" use="optional"/>
                        <xs:attribute name="generateRequest" type="xs:string" use="optional"/>
                        <xs:attribute name="replaceEqual" type="xs:string" use="optional"/>
                        <xs:attribute name="viewTitleBarGenerated" type="xs:string" use="optional"/>
                        <xs:attribute name="frame" type="xs:string" use="optional"/>
                        <xs:attribute name="parentFrame" type="xs:string" use="optional"/>
                        <xs:attribute name="role" type="xs:string" use="optional"/>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="response" type="xs:string" use="optional"/>
                        <xs:attribute name="locale" type="xs:string" use="optional"/>
                        <xs:attribute name="relativePath" type="xs:string" use="optional"/>
                        <xs:attribute name="absolutePath" type="xs:string" use="optional"/>
                        <xs:attribute name="sessionId" type="xs:string" use="optional"/>
                        <xs:attribute name="requestId" type="xs:string" use="optional"/>
                        <xs:attribute name="viewName" type="xs:string" use="optional"/>
                        <xs:attribute name="tableGroup" type="xs:string" use="optional"/>
                        <xs:attribute name="fireOnLoad" type="xs:boolean" use="optional"/>
                        <xs:attribute name="generateKey" type="xs:boolean" use="optional"/>
                        <xs:attribute name="prefix" type="xs:string" use="optional"/>
                        <xs:attribute name="fieldName" type="xs:string" use="optional"/>
                        <xs:attribute name="tableName" type="xs:string" use="optional"/>
                        <xs:attribute name="selectValue" type="xs:string" use="optional"/>
                        <xs:attribute name="fieldRole" type="xs:string" use="optional"/>
                        <xs:attribute name="SQLRestriction" type="xs:string" use="optional"/>
			<xs:attribute name="additionalFields" type="xs:string" use="optional"/>
			<xs:attribute name="ascending" type="xs:string" use="optional"/>
                </xs:complexType>


                <xs:complexType name="dataType">
                        <xs:sequence>
                                                <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="optional"/>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                </xs:complexType>

                <xs:complexType name="keyType">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="context" type="xs:string" use="optional"/>
                        <xs:attribute name="xpath" type="xs:string" use="optional"/>
                        <xs:attribute name="class" type="xs:string" use="optional"/>
                </xs:complexType>

        <xs:element name="queryParameter">
                <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                        <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:complexType>
        </xs:element>

        <xs:complexType name="queryParametersType">
                <xs:sequence>
                        <xs:element ref="queryParameter" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
        </xs:complexType>


                <xs:element name="restriction">
                        <xs:complexType>
                                <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="type" type="xs:string" use="required"/>
                                <xs:attribute name="sql" type="xs:string" use="optional"/>
                        </xs:complexType>
                </xs:element>

                <xs:complexType name="restrictionsType">
                        <xs:sequence>
                                <xs:element name="inherit" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                                <xs:attribute name="addChildren" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                </xs:element>
                                <xs:element ref="restriction"  minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                </xs:complexType>

                <xs:complexType name="orderType">
                        <xs:sequence>
                                        <xs:element ref="field"  minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>

                <xs:complexType name="sortType">
                        <xs:sequence>
                                        <xs:element name="order" type="orderType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="unique" type="xs:boolean" use="optional"/>
                </xs:complexType>

                <xs:complexType name="fieldType">
			 <xs:sequence>                
				<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                        <xs:attribute name="table" type="xs:string" use="optional"/>
                        <xs:attribute name="required" type="xs:string" use="optional"/>
                        <xs:attribute name="role" type="xs:string" use="optional"/>
                        <xs:attribute name="distinct" type="xs:string" use="optional"/>
                        <xs:attribute name="ascending" type="xs:string" use="optional"/>
                        <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
			<xs:attribute name="additionalFields" type="xs:string" use="optional"/>
                </xs:complexType>

                <xs:complexType name="titleType">
                        <xs:simpleContent>
                                <xs:extension base="xs:string">
                                        <xs:attribute name="translatable" type="xs:boolean" use="optional"/>
                                        <xs:attribute name="tableGroup" type="xs:string" use="optional"/>
                                        <xs:attribute name="parentFrame" type="xs:string" use="optional"/>
                                </xs:extension>
                        </xs:simpleContent>
                </xs:complexType>

                <xs:complexType name="afmReportType">
                         <xs:attribute name="printable" type="xs:boolean" use="optional"/>
                </xs:complexType>

            <xs:complexType name="afmActiontype">
                        <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </xs:sequence>
                        <xs:anyAttribute namespace="##any" processContents="skip" />
                </xs:complexType>

                <xs:complexType name="statisticsType">
                        <xs:sequence>
                                <xs:element name="statistic" minOccurs="0" maxOccurs="unbounded" >
                                        <xs:complexType>
                                                <xs:all>
                                                        <xs:element name="title" minOccurs="0" maxOccurs="1" type="titleType"/>
                                                        <xs:element name="field"  minOccurs="0" maxOccurs="1" type="fieldType"/>
                                                </xs:all>
                                                <xs:attribute name="op" type="xs:string" use="required"/>
                                                <xs:attribute name="sql" type="xs:string" use="optional"/>
                                                <xs:attribute name="applyAllRestrictions" type="xs:boolean" use="required"/>
                                                <xs:attribute name="name" type="xs:string" use="optional"/>
                                                <xs:attribute name="applyLocaleFormatting" type="xs:boolean" use="optional"/>
                                        </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                </xs:complexType>

                <!-- executeTransaction -->
                <xs:element name="transaction">
                        <xs:complexType>
                                <xs:sequence>
                                        <xs:element ref="errorMessage" minOccurs="0" maxOccurs="1"/>
                                        <xs:element ref="command" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="errorMessage" minOccurs="0" maxOccurs="1"/>
                                </xs:sequence>
                        </xs:complexType>
                </xs:element>
                <xs:element name="errorMessage">
                        <xs:complexType>
                                <xs:simpleContent>
                                <xs:extension base="xs:string">
                                        <xs:attribute name="message" type="xs:string" use="required"/>
                                </xs:extension>
                        </xs:simpleContent>
                        </xs:complexType>
                </xs:element>
                <xs:element name="command">
                        <xs:complexType>
                                <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded"  processContents="lax"/>
                                </xs:sequence>
                                <xs:attribute name="type" type="commandtype" use="required"/>
                                <xs:attribute name="restrictionTableName" type="xs:string" use="optional"/>
                        </xs:complexType>
                </xs:element>

                <xs:simpleType name="commandtype">
                        <xs:restriction base="xs:string">
                                <xs:enumeration value="insert"/>
                                <xs:enumeration value="update"/>
                                <xs:enumeration value="delete"/>
                        </xs:restriction>
                </xs:simpleType>
        <xs:simpleType name="relopTypes">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="AND"/>
                        <xs:enumeration value="OR"/>
                        <xs:enumeration value=")AND("/>
                        <xs:enumeration value=")OR("/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="opTypes">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="="/>
                        <xs:enumeration value="&gt;"/>
                        <xs:enumeration value="&lt;"/>
                        <xs:enumeration value="&gt;="/>
                        <xs:enumeration value="&lt;="/>
                        <xs:enumeration value="&lt;="/>
                        <xs:enumeration value="!="/>
                        <xs:enumeration value="IS NULL"/>
                        <xs:enumeration value="IS NOT NULL"/>
                        <xs:enumeration value="LIKE"/>
                        <xs:enumeration value="NOT LIKE"/>
                </xs:restriction>
        </xs:simpleType>

    <xs:element name="preferences">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="1" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
            <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
    </xs:element>
     <xs:element name="script">
            <xs:complexType>
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="language" type="xs:string" use="optional"/>
                        </xs:extension>
                </xs:simpleContent>
	     </xs:complexType>
        </xs:element>
</xs:schema>
