schema/ab-products/solutions/common/src/main/com/archibus/app/solution/common/webservice/employee/client/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeeService" targetNamespace="http://server.employee.webservice.mycompany.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.employee.webservice.mycompany.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.employee.webservice.mycompany.com/" xmlns:tns="http://server.employee.webservice.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getEmployees" type="tns:getEmployees"/>
<xs:element name="getEmployeesResponse" type="tns:getEmployeesResponse"/>
<xs:complexType name="getEmployees">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEmployeesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employee"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="employee">
<xs:sequence>
<xs:element minOccurs="0" name="departmentId" type="xs:string"/>
<xs:element minOccurs="0" name="divisionId" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element name="id" type="xs:int"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="phone" type="xs:string"/>
<xs:element minOccurs="0" name="standard" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="InvalidArgumentException" type="tns:InvalidArgumentException"/>
<xs:complexType name="InvalidArgumentException">
<xs:sequence/>
</xs:complexType>
<xs:element name="DataRetrievalException" type="tns:DataRetrievalException"/>
<xs:complexType name="DataRetrievalException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEmployeesResponse">
    <wsdl:part element="tns:getEmployeesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidArgumentException">
    <wsdl:part element="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployees">
    <wsdl:part element="tns:getEmployees" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DataRetrievalException">
    <wsdl:part element="tns:DataRetrievalException" name="DataRetrievalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="getEmployees">
      <wsdl:input message="tns:getEmployees" name="getEmployees">
    </wsdl:input>
      <wsdl:output message="tns:getEmployeesResponse" name="getEmployeesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:DataRetrievalException" name="DataRetrievalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSoapBinding" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmployees">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataRetrievalException">
        <soap:fault name="DataRetrievalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port binding="tns:EmployeeServiceSoapBinding" name="EmployeeServiceSoapPort">
      <soap:address location="http://localhost:8081/ServerExample/services/EmployeeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>